
.Card_Detail {
    border: 3px solid blue;
    display: flex;
    padding: 10px;
}

.container-detail {
    margin: auto;
    width: 80%;
    padding-top: 30px;
}

.Card_Detail__name {
    width: 300px;
    object-fit: contain;
    align-self: flex-start;
}

.Card_Detail__img {
    width: 300px;
    object-fit: contain;
    align-self: flex-start;
}


.Card_Detail__data {
    width: 50%;
    padding-left: 20px;
    padding-top: 20px;
}
.Card_Detail__row {
    padding-bottom: 15px;
}
.Card_Detail__title {
    font-size: 85%;
    font-weight: 700;
}
.Card_Detail__value {
    font-size: 80%;
}

.Card_Detail__graph {
    align-items: center;
    justify-content: space-around;
    width: 60%;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}
